*{
    margin: 0;
    padding: 0;
}

:root{
    --color-titulo : #FFFFFF;
    --cinza:#c0c0c0;
    --btn-azul : #167BF7;
    --cor-de-fundo : #00030C;
    --fonte-principal :  "Inter";
}

body{
    height: 100vh;
    color: var(--color-titulo);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal{
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size:contain;
}

.container__titulo1{
    font-size: 28px;
    font-weight: 700;
}

.container__btn{
    display: block;
    background-color: var(--btn-azul);
    border-radius: 5px;
    padding: 0.5rem;
    color: var(--color-titulo);
    text-decoration: none;
}

.botao_secundario{
    background-color: transparent;
    border: var(--color-titulo) solid 2px ;
}

.container__aviso{
    color: var(--cinza);
    font-size: 12px;
}
